@charset "utf-8";
/* CSS Document */

html,body,head {
 margin-top: 0px;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 0px;
 padding: 0 0;
background:#f1f1f1;
}

img{
	width:100%;
	height:100%;
	max-width:100%;
	float:left;
}



.outline_1100px{
	max-width:1100px;
	height:auto;
	min-width:320px;
	width:100%;
	margin:0 auto;
}

/*Outside 开始*/
.outside{
	width:100%;
	height:100%;
	float:left;
	background:#f1f1f1;
}

/*Outside 结束*/


/*NavBar 开始*/
.navbar_bg{
	width:100%;
	height:auto;
	background:white;
	float:left;
	box-shadow:0px 3px 5px #5a5a5a;
	position:fixed;
	top:0px;
	z-index:23;
}

.js_sub_logo{
	display:none;
}
.js_logo{
	width:50%;
	height:auto;
	float:left;
	max-width: 276px;
	margin-top:20px;
	margin-left:10px
}

.menu_btn{
	position:fixed;
	float:right;
	right:7%;
	z-index: 5;
	top:3%;
}


/*NavBar 结束*/



/*Banner 开始*/
.Banner_out{
	width:100%;
	max-width:480px; 
	height:auto;
	margin:0 auto;
}
.Banner_btn{
	width:100%;
	max-width:23px;
	height:auto;
	margin-top:70%;
}



/*Banner 结束*/


/*上征指数 开始*/
.stock_sign_number_bg_first{
	width:95%;
	height:100%;
	max-height:92px;
	float:left;
	background:white;
	box-shadow:0 0 5px #b3b2b2;
	margin-top: -2%;
	padding: 3% 0;
	position:relative;
	z-index: 20;
}
.stock_sign_number_bg_second{
	width:95%;
	height:100%;
	max-height:92px;
	padding: 3% 0;
	float:right;
	margin-bottom:1.9%;
	background:white;
	box-shadow:0 0 5px #b3b2b2;
	position:relative;
	z-index:20;
}

.stock_sign_trapezoid{
	width: 83%;
    height: 10px;
    background-position: center center;
    display: inline-block;
    background: #d0d0d0;
	-ms-transform: skew(-70deg); /* IE 9 */
    -webkit-transform: skew(-70deg); /* Chrome, Safari, Opera */
    transform: skew(-70deg);
    margin-left: 8%;
    float: left;
}

.stock_sign_number_tittle{
	width: 25%;
    height: 92px;
    float: left;
    font: bold 11pt 微软雅黑;
    color: #0056a6;
    letter-spacing: 1px;
}

.stock_sign_number_detail_out{
	width: 10%;
    height: 92px;
    float: left;
}

.stock_sign_number_detail{
	width:auto;
	height:auto;
	float:left;
	margin-top:12px;
	margin-bottom:5px;
	font:10pt 微软雅黑;
	color:#0078fc;
	letter-spacing:2px;
}

.stock_sign_number_count_square{
	width: auto;
    height: auto;
    border: 1pt solid #e6e6e6;
    float: left;
    margin: 0 auto;
    margin-left: 3px;
}

.stock_sign_number_count{
	width: auto;
    height: auto;
    float: left;
    font: 10pt 微软雅黑;
    letter-spacing: 2px;
    margin: 0 auto;
}
/*上征指数 结束*/


/*开户 开始*/
.signup_btn_out{
	width:100%;
	height:64px;
	float:left;
	margin-top:2%;
	margin-bottom:10px;
	
}


.signup_btn_bg_real{
	width: 45%;
    height: auto;
    float: left;
    background: #218ce5;
    border-radius: 10px;
    border: 1pt solid #218ce5;
    margin-left: 3%;
	
}

.signup_btn_bg_faked{
	width: 45%;
    height: auto;
    float: left;
    background: #0560c4;
    border-radius: 10px;
    border: 1pt solid #218ce5;
    margin-left: 3%;
}

.signup_btn_word{
	letter-spacing: 5px;
    font: 15px 微软雅黑;
    color: white;
    text-align: center;
    line-height: 40px;
}
/*开户结束*/

/*分隔线 开始*/
.separated_line{
	width:92%;
	height:3px;
	float:left;
	margin-left:4%;
	background: url(../images/separated_line.png) repeat-x;
	margin-bottom:2%;
}

/*分隔线 结束*/


/*头条公告 开始*/
.announced_tittle_choose{
	width:23%;
    height: auto;
    color: #0056a6;
    float: left;
    font: bold 13px 微软雅黑;
    cursor: pointer;
	margin-left:6%;
}


.announced_tittle{
	width: 23%;
    height: auto;
    color: #6ea9f3;
    float: left;
    font: bold 13px 微软雅黑;
    cursor: pointer;
}

.announced_detail_bg{
	width:94%;
	max-width:1100px;
	height:auto;
	float:left;
	background:#f7fbff;
	box-shadow:0px 5px 0px #d8d8d8;
	border-radius:10px;
	margin-top:1%;
	margin-left:3%;
	border:1pt solid #dadde0;
}

.announced_detail_out{
	width: 100%;
    height: auto;
    margin-top: 3%;
    display: inline-block;
}

.announced_detail_word{
	width: 90%;
    height: auto;
    margin: 2% auto;
    font: 10pt 微软雅黑;
    letter-spacing: 1px;
    color: #0068b5;
}

.announced_detail_word_line{
    width: 83%;
    height: 3px;
    background: #ecf0f3;
    margin: 2% auto;
}

.announced_detail_more_btn{
	width: 25%;
    height: auto;
    margin: 1% auto;
    background: #3d97fd;
    border-radius: 4px;
    color: white;
    font: bold 15px 微软雅黑;
    letter-spacing: 5px;
    padding-left: 10px;
    line-height: 30px;
}



/*头条公告 结束*/

/*嘉盛优势 开始*/
.advantage_bg{
	width:100%;
	height:auto;
	float:left;
	margin-top:5%;
	margin-bottom:20px;
	background:white;
	box-shadow:0px -3px 0px #e5e5e5,0px 3px 0px #e5e5e5;
}

.advantage_detail_out{
	width: 50%;
    max-width: 269px;
    height: auto;
    float: left;
    margin-top: 7%;
	
}

.advantage_icon_bg{
	width: 40%;
    height: 065px;
    float: left;
    border-radius: 100px;
    border: 1pt solid #0078fc;
    background: white;
	
}

.advantage_word{
	margin-left: 5%;
    margin-top: 10%;
    font: 13pt 微软雅黑;
    letter-spacing: 2px;
    color: #e08841;
    text-align: center;
}

/*嘉盛优势 结束*/

/*浮动按钮 开始*/
.fix_bar_bg{
	width:100%;
	height:40px;
	float:left;
	position: fixed;
	bottom:0;
	background:#333333;
	box-shadow:0 -3px 0 black;
	z-index:10;
}

.fix_bar_word{
	font:9pt 微软雅黑;
	float:left;
    letter-spacing: 2px;
	line-height:40px;
	margin-left:5px;
	
}

.fix_bar_area{
	width:100%;
	height:40px;
	float:left;
}

.slide_bar_word{
	width: 100%;
    height: auto;
    float: left;
    font: 15pt 微软雅黑;
    letter-spacing: 2px;
    color: #e0f2ff;
    margin-left: 35%;
    margin-bottom: 15px;
}
/*浮动按钮 结束*/



/*分页 开始*/

/*分页bar 开始*/
.paging_middle_bg{
	background:#e8e8e8;
	height:52px;
	float:left;
}

.paging_middle_icon{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.paging_middle_tittle{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.paging_middle_page_btn{
	margin:0 1%;
	margin-top:1.2%;
}
/*分页bar 结束*/

/*分页内容 开始*/
.paging_detail_out{
	width:95%;
	height:auto;
	margin:0 auto;
	
}
.paging_detail_tittle_bar{
	width:2px;
	height:18px;
	float:left;
	background:#045ce0;
	margin-top:9px;
}

.paging_detail_tittle_word{
	letter-spacing:1.5px;
	color:#333333;
	float:left;
}
.paging_detail_word_bar{
	width:100%;
	height:1px;
	background:#bcbcbc;
	float:left;
}
.paging_detail_word{
	color:#666666;
	letter-spacing:2px;
	
}

.paging_detail_jsyx_tittle{
	width:auto;
	height:20px;
	font-size:10pt;
	color: #333333;
	letter-spacing: 2px;
	margin-left:8px;
	float:left;
}
.paging_detail_jsyx_word{
	width: auto;
    height: 30px;
    font-size: 1px;
    color: #666666;
    letter-spacing: 0.5px;
    margin-left: 8px;
    float: left;
    line-height: 15px;
}
.paging_detail_zxgg_word{
	font-size:14px;
	color:#1954ae;
	letter-spacing:1px;
	margin-top:5px;
	margin-bottom:7px;
	
}
.paging_detail_zxgg_line{
	width:90%;
	height:1px;
	background:#d6dfe8;
	margin:0 auto;
	
}
.paging_detail_zxgg_block{
	width:21px;
	height:22px;
	background:#ebebeb;
	border:0.1px solid #333333;
	color:white;
	font-size:10pt;
	letter-spacing:1px;
	padding-left:3px;
	padding-top:1px;
	margin-right:2px;
	float:right;
}
/*分页内容 结束*/

/*分页 结束*/